<strong>Olá, {{ user }}</strong>
<p>Houve uma nova inscrição no seu Meetup, confira os detalhes abaixo:</p>
<p></p>
  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Local: </strong> {{ location }} <br />
  <strong>Data: </strong> {{ date }} <br />
  <hr>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Email: </strong> {{ email }}
</p>
